// just for site
.ex4 .container div {
  min-height: 0;
}

// flex solution

.ex4 .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  // just for icon
  .red {
    font-size: 2em;
    width: 1.8em;
    height: 1.8em;
  }

  .green {
    display: flex;

    li {
      flex: 1;
      list-style: none;
      
      + li {
        margin-left: 1em;
      }
    }
  }

  .orange {
    display: flex;
  }
}